
body {
	background: url(../images/purpleTile.png);
	width: 100%;
	height: 100%;
	padding: 0;
	cursor: pointer;
	cursor: hand;
	font-family: 'Overlock SC', Helvetica;
	-webkit-font-smoothing: antialiased;
}

main {
	background: url(../images/tile.png);
	width: 810px;
	height: 500px;
	padding: 10px 0 10px 10px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	border-radius: 5px;
	text-align: center;
}

h1, h2, h3, h4 {
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
}

.orders {
	float: left;
	width: 800px;
	height: 200px;
	margin: 5px;
}

.orders section{
	float: left;
	width: 130px;
	height: 180px;
	padding: 10px;
	margin-right: 10px;
}

.orders section h2 {
	font-size: 14px;
	line-height: 2.2;
	color: white;
	line-height: 2;
	margin-top: 70px;
}

.ticketOne, .ticketTwo, .ticketThree, .ticketFour, .ticketFive {
	background-image: url(../images/placeholderFront.png);
	background-position: center center;
	background-size: auto 100%;	
	opacity: 1;
}

.ingredients {
	background-image: url(../images/grayTile.png);
	background-position: center center;
	float: left;
	width: 290px;
	height: 260px;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
}

.ingredients section{
	float: left;
	width: 58px;
	height: 65px;
	background-position: center center;
	background-size: 100% auto;
}

.board {
	background: url(../images/boardTile.png);
	float: left;
	width: 290px;
	height: 140px;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
}
.board section{
	float: left;
	width: 58px;
	height: 65px;
}

.trash {
	background: url(../images/boardTile.png);
	float: left;
	width: 310px;
	height: 30px;
	margin: 5px;
	border-radius: 5px;
}

.timer {
	background: url(../images/grayTile.png);
	float: left;
	width: 150px;
	height: 70px;
	margin: 5px;
	border-radius: 5px;
}

.dollars {
	background: url(../images/grayTile.png);
	float: left;
	width: 150px;
	height: 70px;
	margin: 5px;
	border-radius: 5px;
}

.timer h2, .dollars h2 {
	line-height: 3;
}

.menu {
	background: url(../images/menuTile.png);
	float: right;
	width: 140px;
	height: 190px;
	padding: 5px;
	margin: 5px 15px 5px 5px;
	border-radius: 0 5px 5px 0;
}
.menu h2{
	color: white;
	margin-top: 30px;
}

.book {
	display: none;
	background: url(../images/menuTile.png);
	width: 730px;
	height: 430px;
	padding: 30px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	overflow: scroll;
}

.book section {
	text-align: left;
	padding: 0;
	margin: 15px 0;
}

.book hr {
	border-color: white;
	border-width: 1px 0 0 0;
}

.book img {
	float: right;
	width: 58px;
}

.book h3 {
	color: white;
	font-size: 22px;
}

.book p {
	color: white;
	font-size: 12px;
	font-family: Helvetica;
	font-weight: 100;
	line-height: 1.5;
	letter-spacing: 1px;
	padding: 0;
	margin: 0;
}

.book h4 {
	color: white;
	font-size: 12px;
	font-style: italic;
}

.switch {
	background: url(../images/greenTile.png);
	float: right;
	width: 150px;
	height: 30px;
	margin: 5px 15px 5px 5px;
	border-radius: 5px;
}
.switch h2 {
	font-size: 16px;
	line-height: 1.9;
}

.reset {
	background: url(../images/grayTile.png);
	float: right;
	width: 70px;
	height: 30px;
	margin: 5px 5px 5px 5px;
	border-radius: 5px;
}

.rules {
	background: url(../images/grayTile.png);
	float: right;
	width: 70px;
	height: 30px;
	margin: 5px 15px 5px 5px;
	border-radius: 5px;
}

.info {
	display: none;
	background: url(../images/menuTile.png);
	background-position: center center;
	width: 730px;
	height: 430px;
	padding: 30px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	overflow: scroll;
}

.trash h2, .rules h2, .reset h2 {
	font-size: 14px;
	line-height: 2.2;
}

.rice {
	background: url(../images/rice.svg) no-repeat;
}

.nori {
	background: url(../images/nori.svg) no-repeat;
}

.salmon {
	background: url(../images/salmon.svg) no-repeat;
}

.tuna {
	background: url(../images/tuna.svg) no-repeat;
}

.yellowtail {
	background: url(../images/yellowtail.svg) no-repeat;
}

.shrimp {
	background: url(../images/shrimp.svg) no-repeat;
}

.crab {
	background: url(../images/crab.svg) no-repeat;
}

.lobster {
	background: url(../images/lobster.svg) no-repeat;
}

.octopus {
	background: url(../images/octopus.svg) no-repeat;
}

.squid {
	background: url(../images/squid.svg) no-repeat;
}

.eel {
	background: url(../images/eel.svg) no-repeat;
}

.uni {
	background: url(../images/uni.svg) no-repeat;
}

.scallop {
	background: url(../images/scallop.svg) no-repeat;
}

.redSnapper {
	background: url(../images/redSnapper.svg) no-repeat;
}

.abalone {
	background: url(../images/abalone.svg) no-repeat;
}

.mackerel {
	background: url(../images/mackerel.svg) no-repeat
	;
}

.halibut {
	background: url(../images/halibut.svg) no-repeat;
}

.roe {
	background: url(../images/roe.svg) no-repeat;
}

.tamagoyaki {
	background: url(../images/egg.svg) no-repeat;
}

.vegetables {
	background: url(../images/vegetables.svg) no-repeat;
}

